.button{
    background-color: rgb(201, 97, 0);
    color: white;
    border: none;    
    padding-inline: 1rem;
    padding-block: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
}